@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
body {
  font-family: 'Kanit', sans-serif !important;
  margin: 0;
  padding: 0;
}

.jumbotron {
  background-color: #141e46;
  color: #fff5e0;
  padding: 100px 0;
}

.tiny-jumbotron {
  background-color: #141e46;
  color: #fff5e0;
  padding: 50px 0;
}

textarea {
  resize: none;
}

/* Form */
form input {
  width: 60%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  color: black;
}

.d-flex {
  display: flex;
}

.menu-button {
  display: none;
}

.title1 {
  color: white;
}

.navbar {
  background-color: #141e46;
  color: #fff5e0;
  padding: 10px 0;
}

.custom-nav-links {
  display: flex;
  align-items: baseline;
  list-style: none;
  margin: 0;
  padding: 0;
}

.custom-nav-links ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-nav-links li {
  display: inline;
  margin-right: 20px;
}

.custom-nav-links a {
  color: #fff5e0;
  text-decoration: none;
  font-weight: bold;
}
.carrito-icon {
  width: 28px;
}

.hero {
  /* background-image: url("https://cdn.shopify.com/s/files/1/0098/7247/4167/files/tipos-de-computadoras-1.jpg?v=1614119093"); */
  background-image: url("https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-attachment: fixed;
  color: #fff5e0;
  text-align: center;
  padding: 100px 0;
}

.subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 0px;
}

.text-hero {
  margin-bottom: 20px;
  background-color: #141e46ac;
  color: white;
  padding: 80px 0;
}

h2 {
  font-size: 40px;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.text-hero p {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.contact {
  background-color: #fff5e0;
  text-align: center;
 /* padding: 60px 0;*/
}

.footer {
  background-color: #141e46;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/*a ver que onda*/

#popular,
#top-rated {
  text-align: center;
}

#top-rated h2 {
  margin: 30px 0px;
}
#popular h1 {
  margin: 30px 0px;
}

.prod-item {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 200px;
  height: 300px;
  font-size: 20px;
  cursor: pointer;
  transition: all 450ms;
  transform-origin: center left;
}

.prod-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  row-gap: 20px;
}

.prod-item-img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.container2 {
  max-width: 1200px;
  margin: 0 auto;
}

.prod-scroller {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 50px 60px 0px;
}

.prod-item-v2 {
  border-radius: 20px;
  width: 340px;
  min-width: 340px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 450ms;
  transform-origin: center left;
}

.wrapper {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  min-height: calc(200px * 1.5);
  height: calc(200px * 1.5);
  overflow: hidden;
}

.prod-item-img-v2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prod-item-detail-v2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.prod-item-detail-title-v2 {
  color: black;
  font-weight: bold;
  margin: 5px 0px 0px 0px;
}

.prod-item-detail-title-v2:hover {
  color: #b1dd00;
}

.footer-text {
  color: white;
}

.error{
  color: red;
  margin-bottom: 5px;
}

.form-container {
  max-width: 600px; /* Establece el ancho máximo deseado */
  margin: auto; /* Centra el contenedor horizontalmente */
  padding: 20px; /* Añade un relleno alrededor del formulario si es necesario */
}
/*
.contact2 {
  background-color: #fff5e0;
  text-align: center;
  }

#top-rated {
  text-align: center;
  }

.prod-grid{
  display: grid;   
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  row-gap: 20px;
}
.prod-item{
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 200px;
  height: 300px;
  font-size: 20px;
  cursor: pointer;
  transition: all 450ms;
  transform-origin: center left;
}


.prod-item-img{
  width: 200px;
  height: 300px;
  object-fit: cover; 
}

.container2{
  max-width: 1200px;
  margin: 0 auto;
}
.prod-scroller{
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding:0px 0px 40px 0px;
}

.prod-item-img-v2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.wrapper {
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
  border-radius: 10px;
  width: 100%;
  min-height: calc(150px*1.5);
  height: calc(150px*1.5);
  overflow: hidden;
}

.prod-item-v2{
  border-radius: 20px;
  width: 3400px;    
  min-width: 170px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 450ms;
  transform-origin: center left;   
}

.prod-item-detail-v2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}

.prod-item-detail-title-v2 {
  color: black;
  font-weight: bold;
  margin: 5px 0px 0px 0px;
}

*/
.main-title {
  animation-duration: 2s;
  animation-name: slidein;
}

.acotacion {
  animation-duration: 2.5s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


@keyframes menuAnimationIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes menuAnimationOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .gallery {
    flex-direction: column;
  }

  .gallery img {
    width: 100%;
    margin: 10px 0;
    height: auto;
  }
}

@media (width < 770px) {
  .custom-nav-links {
    display: none;
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #141e46;
    color: #fff5e0;
    animation: menuAnimationOut 0.5s ease-in-out;
  }

  .active {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141e46;
    color: #fff5e0;
    position: absolute;
    top: 80px;
    left: 0;
    animation: menuAnimationIn 0.5s ease-in-out;
  }

  .menu-button {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #141e46;
    color: #fff5e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

/* TABLETS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .prod-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* CELULARES */
@media screen and (max-width: 767px) {
  .logo-text {
    display: none;
  }
  .login-text {
    display: none;
  }
  .prod-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact {
    padding: 80px;
  }
  .form-container {
      padding: 0px 0; 
  }
 
  #footer {
    flex-direction: column;
    justify-content: center;
  }
}
